.coin_chart {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.12rem solid rgb(0 0 0 / 20%);
  box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;
  padding: 20px;
}
@media (max-width: 767px) {
  .coin_chart {
    width: 100%;
    height: 100%;
  }
}
.chart_bg {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
