.coin_details {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.12rem solid rgb(0 0 0 / 20%);
  box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;
  padding: 20px;
}
@media (max-width: 767px) {
  .coin_details {
    width: 100%;
    height: 100%;
  }
  .coin_details img{
    height: 150px;
  }
}
.coin_details span {
  margin: 5px;
  max-width: 250px;;
}
.coin_span {
  font-size: 16px;
  font-family: MONTSERRATE;
  font-weight: 600;
}
