/* .coin_card img{
    height: 200px;
    width: 150px;
} */
/*.alice_carousel{
    padding:25px;
}*/
.slick_carousel{
    
    width:100%;
    max-width: 1200px;
    margin: 40px 20px 20px 20px;
    padding: 10px;
}
/* .coin_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
.slick-slide{
    display: flex !important;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.slick-arrow{
    display:none !important;
}