.main_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.info_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px 5px 5px 5px;
}
/* .info_container h1{
  
} */

.heading {
  padding: 20px;
  width: 100%;
  color: black;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  border: 0.12rem solid rgb(0 0 0 / 20%);
  box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 10%);
  transition: all 0.3s ease 0s;
  position: sticky;
  top: 0;
}
@media (max-width: 620px) {
  .heading {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading span {
    margin: 5px;
  }
}
.heading span {
  font-size: 18px;
  font-weight: 600;
  font-family: MONTSERRATE;
}
